* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

header {

    position: fixed;
    background-color: #fff;
    width: 200%;
    top: 0;
    left: 0%;
    margin-bottom: 44px;

    img {
        margin: 20px 0 20px 10%;
    }
}

.logo {
    width: 145px;
    height: 30px;
}

.nav {
    display: flex;
    background-color: #333;
    /* width: 100%; */
    color: #fff;
    align-items: center;
    height: 36px;

    ul {
        display: flex;
        font-size: 1.4rem;
        margin-left: 10%;
        list-style-type: none;
        gap: 60px;
        color: #fff;
    }
}

.top_wrapper {
    display: flex;
    gap: 23.25px;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 70px;
}

.top_content {
    width: 373.75px;
    text-align: center;

    p {
        font-size: 1.6rem;
        font-weight: bold;
        text-align: left;
        margin-bottom: 15px;
    }

    img {
        width: 373.75px;
        height: 210px;
        margin-bottom: 10px;
    }

    a {
        font-size: 1.4rem;
        color: #000;
        text-decoration: underline 1px solid #000;
        line-height: 3px;
    }
}

.main_wrapper {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    padding: 16px 0;
    margin: 0 auto;
    width: 65%;
    gap: 43px;

    .read_more {
        font-size: 1.4rem;
        color: #000;
    }

    p {
        font-size: 1.4rem;
    }

    img {
        width: 100%;
        /* height: 427px; */
    }

    .content_text {
        padding: 10px 0;
        justify-content: center;
    }

    .read_more {
        font-size: 1.4rem;
        justify-content: center;
    }
}

.main {
    display: flex;
    flex-direction: column;
    margin-right: 43px;

    .read_more {
        text-align: center;
    }
}

.main_content {
    margin-bottom: 80px;

    a {
        text-decoration: none;
        font-weight: bold;
        margin-bottom: 15px;
        font-size: 2.4rem;
        color: #000;
    }

    p {
        margin-top: 15px;
        margin-bottom: 10px;
    }
}

aside {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    margin-bottom: 130px;

    .icon {
        margin: auto;
        border-radius: 100%;
        width: 35%;
    }

    h2 {
        margin: 20px 0;
        text-align: center;
    }

    p {
        margin-bottom: 30px;
    }

    li {
        border-collapse: collapse;
        list-style-type: none;
        padding: 20px 0;

        a {
            color: #000;
            font-size: 1.4rem;
            text-decoration: none;
        }
    }
}

aside ul li:nth-child(odd) {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

footer {
    background-color: #f7f7f7;
}

.footer {
    display: flex;
    font-size: 1.4rem;
    width: 100%;
    height: 450px;
    justify-content: center;
    gap: 80px;
    margin: 0 auto;

    h3 {
        margin-bottom: 30px;
    }

    .foot_about {
        margin-top: 50px;
        width: 20%;

        p {
            margin-bottom: 20px;
        }
    }

    .foot_list {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .list_inner {
            a {
                color: #000;
                text-decoration: none;
            }
        }
    }

    .foot_menu {
        margin-top: 50px;
        width: 20%;


        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;

            li {
                padding: 15px 0;
            }
        }
    }

    .foot_menu ul li:nth-child(odd) {
        border-top: #000 solid 1px;
        border-bottom: #000 solid 1px;
    }

    .foot_twitter {
        margin-top: 50px;
    }
}

.footer {
    display: flex;
    flex-direction: row;
}

footer> :last-child {
    font-size: 1.1rem;
    text-align: center;
    padding: 10px 0;
}