* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

header {
    width: 100%;
    margin-bottom: 44px;

    img {
        margin: 20px 0 20px 10%;
    }
}

.logo {
    width: 145px;
    height: 30px;
}

.nav {
    display: flex;
    background-color: #333;
    color: #fff;
    align-items: center;
    height: 36px;

    ul {
        display: flex;
        font-size: 1.4rem;
        margin-left: 10%;
        list-style-type: none;
        gap: 60px;
        color: #fff;
    }
}

.top_wrapper {
    display: flex;
    gap: 23.25px;
    justify-content: center;
    margin-bottom: 70px;
}

.top_content {
    width: 373.75px;
    text-align: center;

    p {
        font-size: 1.6rem;
        font-weight: bold;
        text-align: left;
    }

    img {
        width: 373.75px;
        height: 210px;
        margin-bottom: 10px;
    }

    a {
        font-size: 1.4rem;
        color: #000;
        text-decoration: underline 1px solid #000;
        line-height: 3px;
    }
}

.main_wrapper {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    padding: 16px 0;
    margin: 0 auto;
    width: 70%;

    a {
        font-size: 2.4rem;
        color: #000;
    }

    p {
        font-size: 1.4rem;
    }

    img {
        width: 100%;
        /* height: 427px; */
    }

    .content_text {
        padding: 10px 0;
        justify-content: center;
    }

    .read_more {
        font-size: 1.4rem;
        justify-content: center;
    }
}

.main {
    display: flex;
    flex-direction: column;
    margin-right: 43px;

    .read_more {
        text-align: center;
    }
}

.main_content {
    margin-bottom: 80px;
}

aside {
    width: 70%;

    .icon {
        border-radius: 100%;
    }

    h2 {
        margin: 20px 0;
        text-align: center;
    }

    li {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        border-collapse: collapse;
        list-style-type: none;
        padding: 20px 0;

        a {
            font-size: 1.4rem;
            text-decoration: none;
            font-weight: lighter;
            font-size: 1.4rem;
        }
    }
}